.card-list {
    display: flex;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    height: 450px;
    scrollbar-width: thin;
    scrollbar-color: #999999 transparent;
}

.card-list::-webkit-scrollbar {
    width: 6px;
}

.card-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.card-list::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 3px;
}

.card-list::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
}

.card {
    width: 650px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    scroll-snap-align: start;
    background-color: transparent;
    flex-shrink: 0;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Courier New', monospace;
    font-size: 45px;
    backface-visibility: hidden;
    box-sizing: border-box;
}

.card-front {
    background-image: url('/static/images/card/card_front.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-front p {
    margin: 0;
}

.card-number {
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;
    color: #adadad;
}

.card-month-year {
    font-size: 32px;
    text-align: left;
    position: absolute;
    bottom: 55px;
    left: 210px;
    color: #adadad;
}

.card-cvc {
    font-size: 30px;
    text-align: right;
    position: absolute;
    bottom: 52px;
    right: 70px;
    color: #adadad;
}

.card .btn-blocked {
    position: absolute;
    top: 40px;
    right: 50px;
}

.card-balance {
    font-size: 27px;
    font-family: Droid Sans Mono;
    position: absolute;
    top: 38px;
    right: 50px;
    color: #adadad;
}

.card-back {
    background-image: url('/static/images/card/card_back.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}